:root {
    --color-white: hsla(0, 0%, 100%, 1);
    --color-very-light-gray-blue: hsl(240, 78%, 98%);
    --color-light-gray-blue: hsl(234, 14%, 74%);
    --color-gray-blue: hsl(233, 13%, 49%);
    --color-dark-gray-blue: hsl(232, 13%, 33%);

    --linear-gradient-main: linear-gradient(
        135deg,
        #a2a7f0 0.06%,
        #696edd 100.06%
    );
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-very-light-gray-blue);
}

.main {
    margin-bottom: 71px;
}
